body{
    margin: 0;
    padding: 0;
    background: #dedede;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
#contact_iconHoler{
    border-radius: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#contact_iconHoler ul{
    margin: 0;
    padding: 0;
}
#contact_iconHoler ul li{
    list-style: none;
    display: inline-block;
}
#contact_iconHoler ul li a{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.3); */
    box-shadow: 7px 15px 18px rgba(0,0,0,0.3);

    /* box-shadow: 0 10px 13px #009688; */
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .2s;
}
