body{
    margin: 0;
    padding: 0;
    background: #dedede;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
#contact_iconHoler{
    border-radius: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#contact_iconHoler ul{
    margin: 0;
    padding: 0;
}
#contact_iconHoler ul li{
    list-style: none;
    display: inline-block;
}
#contact_iconHoler ul li a{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);

    /* This one can also be tried. */
    /* box-shadow: 7px 15px 18px rgba(0,0,0,0.3); */

    background: linear-gradient(0deg, #ddd, #fff);
    transition: .2s;
}
#contact_iconHoler ul li a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#contact_iconHoler ul li a .fa{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(120px - 12px);
    font-size: 40px;
    color: #262626;
    transition: .5s;
}
#contact_iconHoler ul li:nth-child(1) a:hover .fa{
    color: #3b5999;
}
#contact_iconHoler ul li:nth-child(2) a:hover .fa{
    color: #55acee;
}
#contact_iconHoler ul li:nth-child(3) a:hover .fa{
    color: #dd4b39;
}
#contact_iconHoler ul li:nth-child(4) a:hover .fa{
    color: #0077B5;
}
#contact_iconHoler ul li:nth-child(5) a:hover .fa{
    color: #e4405f;
}

/* No need to create for the 6th div as it is for github and even after hover it's color should remain same i.e, black and white. */

#contact_iconHoler ul li:nth-child(7) a:hover .fa{
    color: darkred;
}


/* Making it responsive */
@media (max-width:1060px){
    #contact_iconHoler ul li a{
        width: 100px;
        height: 100px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(100px - 12px);
        font-size: 35px;
    }
}

@media (max-width:940px){
    #contact_iconHoler ul li a{
        width: 90px;
        height: 90px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(90px - 12px);
        font-size: 33px;
    }
}

@media (max-width:865px){
    #contact_iconHoler ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    #contact_iconHoler ul li a{
        width: 110px;
        height: 110px;
        margin-bottom: 25px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(110px - 12px);
        font-size: 38px;
    }
}

@media (max-width:625px){
    #contact_iconHoler ul li a{
        width: 95px;
        height: 95px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(95px - 12px);
        font-size: 35px;
    }
}

@media (max-width:545px){
    #contact_iconHoler ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:430px){
    #contact_iconHoler ul li a{
        width: 85px;
        height: 85px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(85px - 12px);
        font-size: 30px;
    }
}

@media (max-width:375px){
    #contact_iconHoler ul li a{
        width: 75px;
        height: 75px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(75px - 12px);
        font-size: 30px;
    }
}

@media (max-width:345px){
    #contact_iconHoler ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 25px;
    }
    #contact_iconHoler ul li a{
        width: 85px;
        height: 85px;
    }
    #contact_iconHoler ul li a .fa{
        line-height: calc(85px - 12px);
    }
}